
/* 로고 크기 */
#adminImg{
	float: left;
 	position: fixed;
	z-index: 1;
	width: 300px;
	height: 105px;
	margin-top: 5px;
}

/* 로그아웃 버튼 */
#adminBtn{
	float: right;
	position: relative;
	z-index:2;
	margin-right:17px;
	margin-top:16px;
	border: 0px solid;
	border-radius: 5px;
	width: 82px;
	height: 37px;
}

/* 목록 글씨체 */
#adminUl li{
	list-style: none;
	color: white;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: -6px;
}
/* 목록 클릭시 */
li:hover{
	background-color: #ff8200;
	cursor: pointer;
	width: 302px;
}

/* 위쪽 배경 */
#adminTop{
	border: 0px solid rgb(255,83,63);
	width: 100%;
	height: 100px;
	background: rgb(255,83,63);
	position: fixed;
	margin-left: 300px;
	z-index: 3;
}

/* 메인, 로그아웃 버튼 */
#mainButton{
	position: relative;
    width: 85%;
    right: 145px;
}
/* 왼쪽 배경 */
#adminLeft{
	float: left;
	position: fixed;
	border: 0px solid rgb(255,83,63);
	width: 300px;
	height: 100%;
	background: rgb(255,83,63);
}
/* 목록 전체 div */
#adminList{
	float: left;
	position: fixed;
	z-index:1;
	margin-top: 110px;
	margin-left: -28px;
}

/* 안쪽 내용 중간 배치 */
#adminContent {
    float: left;
    position: fixed;
    width: 80%;
    margin-left: 300px;
    margin-top: 128px;
}

/* 목록 링크 링크색 제거 */
#adminList li a{
	text-decoration: none;
	color: white;
}

/* 로고와 목록 띄우기 */
#adminDayVisit{
	margin-top: 8px;
}
/* 로그인중일때 */
#ifLogin{
 	float: right;
    position: relative;
    margin-right: -88px;
    margin-top: 10px;
    z-index: 5;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 20px;
}

